*.err
*.out
__pycache__/
install_packages.sh
bbmap/
old/
raav-60/
Sample_data/
test/
tops/
tables/
data/
motifs/
files/
bluejay/
goose/
Projects
Master_Thesis_Jaro/
test.ipynb
run_all.sh
random/
Python_Scripts/config.py
